@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Akshar', sans-serif;
    background-color: #ee5522;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d23d09' %3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='1'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}


header{
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(354deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 24%, rgba(0,212,255,1) 100%);
}

.ul-header{
    animation: fadeInDown;
    animation-duration: 1s;
    height: 100px;
    list-style: none;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



a{
    color: white;
    text-decoration: none;
}


li:hover{
    transform: scale(1.2);
    transition-duration: .5s;
}


h1{
    animation: slideInLeft;
    animation-duration: 1.4s;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    line-height: 74px;
}


main{
    margin: 50px;
    
}


.section-uno{
    border: 2px solid black;
    background-color: rgba(223, 223, 223, 0.75);
}


h2{
    text-align: center;
}


.definicion-git{
    font-size: 20px;
}


.section-dos{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    gap: 1px;
    margin-top: 100px;
    grid-template-areas: 
    "recuadro1 recuadro1"
    "recuadro2 recuadro3"
    "recuadro4 recuadro5";
}


.caja-uno{
    grid-area: recuadro1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid black;
    height: 200px;
}


.caja-dos{
    grid-area: recuadro2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.75);
    border: 1px solid black;
    height: 200px;
    text-align: center;
    font-size: 20px;
}


.caja-tres{
    grid-area: recuadro3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.75);
    border: 1px solid black;
    height: 200px;
    text-align: center;
    font-size: 20px;
}


.caja-cuatro{
    grid-area: recuadro4;
    display: flex;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.75);
    border: 1px solid black;
    height: 200px;
    text-align: center;
    font-size: 20px;
}


.caja-cinco{
    grid-area: recuadro5;
    display: flex;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.75);
    border: 1px solid black;
    height: 200px;
    text-align: center;
    font-size: 20px;
}


footer{
    background-color: rgba(245, 245, 245, 0.75);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
